body{
    font-family: 'Roboto', sans-serif;
    background-image: url('../images/bg-body.png');
}

.container{
    margin: 0 5px;
}

.main-header{
    margin-bottom: 5vh;
    text-align: center;
}

.logo{
    width: 40vw;
    border-radius: 50%;
    border: 1px solid #CACACA;
}

.toggle-nav img{
    position: relative;
    width: 15%;
    top: 3vh;
}

.main-nav{
    position: relative;
    top: 3vh;
}

.main-nav ul{
    list-style-type: none;
    padding-left: 0;
    line-height: 2;
}

.main-nav ul li {
    margin-bottom: 5px;
    background-color: #3A3A3C;
}

.main-nav ul li a {
    text-decoration: none;
    color: white;
}

.banner img {
    display: none;
}

.photo-container{
    position: relative;
}

.photo{
    width: 100%;
}

.special{
    position: absolute;
    right: 2vh;
    width: 21%;
}

.zoom {
    left: 0%;
    background-color: rgba(0,0,0,0.5);
    padding: 5px 0;
    position: absolute;
    text-decoration: none;
    color: white;
    bottom: 35%;
    width: 100%;
    text-align: center;
}

.product{
    margin-bottom: 3vh;
}

.product p{
    color: #64646B;
}

.more {
    background-color: #444444;
    text-decoration: none;
    color: white;
    padding: 5px;
}

.main-footer{
    text-align: center;
}

.main-footer ul{
    list-style-type: none;
    padding: 0;
    line-height: 2;
}

.main-footer ul li {
    margin-bottom: 2px;
    background-color: #B92519;
}

.main-footer ul li a {
    text-decoration: none;
    color: white;
}

@media(min-width: 426px){

    .container{
        margin-left: auto;
        margin-right: auto;
    }
    
    .logo {
        width: 20vw;
    }

    .toggle-nav img {
        display: none;
    }

    .main-nav ul {  
        justify-content: space-between;
        display: flex; 
        margin: 0
    }

    .main-nav ul li {
        width: 15.5%;
        padding-top: 1vh;
        padding-bottom: 1vh;
    }

    .banner img {
        display: block;
        width: 100%;
    }

    .vip-products{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    

    .product {
        position: relative;
        top: 2vh;
        width: 49%;
    }

    .zoom-container{
        bottom:71px;
    }
}

@media(min-width:769px){

    .container{
        max-width: 1180px;
    }

    .logo{
        margin-top: 20px;
        width: 12vw;
    }
z
    .main-nav{
        margin: 5.5%
    }

    .product {
        max-width: 380px;
        width: 32%;
    }

    .zoom-container {
        bottom: 87px;
    }

    .more{
        top: 10px;
        left: 19px;
    }

    .main-footer ul {
        display: flex;
        justify-content: center;
        align-items: center;
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        height: 21vh;
        background-color: #B92519;
    }

    .main-footer ul li:nth-child(1) {
        padding-right: 1vw;
        border-right: 2px solid white;
    }
    .main-footer ul li:nth-child(2){
        padding-right: 1vw;
        padding-left: 1vw;
        border-right: 2px solid white;
    }

    .main-footer ul li:nth-child(3){
        padding-right: 1vw;
        padding-left: 1vw;
        border-right: 2px solid white;
    }
    .main-footer ul li:nth-child(4){
        padding-right: 1vw;
        padding-left: 1vw;
        border-right: 2px solid white;
    }
    .main-footer ul li:nth-child(5){
        padding-right: 1vw;
        padding-left: 1vw;
        border-right: 2px solid white;
    }

    .main-footer ul li:nth-child(6){
        padding-left: 1vw;
    }
}
    



