body{
    font-family: 'Roboto', sans-serif;
    width: 320px;
    background-image: url('../images/bg-body.png');
}

.main-header{
    position: relative;
    margin-bottom: 8vh;
    top: 2vh;
}

.logo{
    margin-left: 30vw;
    margin-right: 30vw;
    width: 40vw;
    border-radius: 50%;
    border: 1px solid #CACACA;
}

.toggle-nav img{
    margin-left: 42.5%;
    position: relative;
    width: 15%;
    top: 3vh;
}

.main-nav{
    position: relative;
    width: 95%;
    top: 3vh;
    left: 1.5%;
}

.main-nav ul{
    padding-left: 0;
    line-height: 2;
}

.main-nav ul li {
    display: flex;
    justify-content: center;
    margin-bottom: 2px;
    background-color: #3A3A3C;
}

.main-nav ul li a {
    text-decoration: none;
    color: white;
}

.banner{
    position: relative;
    margin-bottom: 3vh;
    left: 1.5%;
    width: 95%;
    height: 25vh;
}

.banner img{
    width: 100%;
    height: 100%;
}

.photo-container{
    position: relative;
    width: 95%;
    left: 1.5%;
}

.photo{
    width: 100%;
}

.special{
    position: absolute;
    left: 28vh;
    bottom: 57%;
}

.zoom-container{
    position: absolute;
    width: 100%;
    height: 5vh;
    background-color: rgba(0,0,0,0.5);
    bottom: 60px;
    right: 0px;
    text-align: center;
}

.zoom{
    position: relative;
    text-decoration: none;
    color: white;
    top: 5px;
}

.product{
    margin-bottom: 3vh;
}

.product h2{
    position: relative;
    left: 1.5%;
    bottom: 1vh;
}

.product p{
    position: relative;
    color: #64646B;
    width: 97%;
    left: 1.5%;
}

.more-container{
    background-color: #444444;
    position: relative;
    left: 1.5%;
    width: 22%;
    height: 5vh;
}

.more{
    position: relative;
    text-decoration: none;
    color: white;
    top: 1.4vh;
    left: 2.3vw;
}

.main-footer{
    position: relative;
    width: 95%;
    top: 3vh;
    left: 1.5%;
}

.main-footer ul{
    padding-left: 0;
    line-height: 2;
}

.main-footer ul li {
    display: flex;
    justify-content: center;
    margin-bottom: 2px;
    background-color: #B92519;
}

.main-footer ul li a {
    text-decoration: none;
    color: white;
}

@media(min-width: 767px){

    body{
        width: 768px;
    }
    
    .logo {
        margin-left: 40vw;
        width: 20vw;
    }

    .toggle-nav img {
        display: none;
    }

    .main-nav {
        top: 4vh;
        left: 2.5%;
    }

    .main-nav ul {
        display: inline;
    }

    .main-nav ul li {
        padding-top: 2vh;
        padding-bottom: 2vh;
        display: inline;
    }

    .main-nav ul li a {
        padding: 2.79%;
    }

    .banner {
        top: 2vh;
        left: 2.5%;
        height: 35vh;
    }

    .product {
        position: relative;
        display: inline-block;
        top: 2vh;
        left: 2%;
        width: 48.4%;
    }

    .special{
        left: 264px;
        bottom: 122px;
    }

    .main-footer{
        left: 2.5%;
    }

    .zoom-container{
        bottom:71px;
    }
}

@media(min-width:1439px){
    body{
        width: 1440px;
    }

    .main-header{
        position: relative;
        margin-bottom: 8vh;
        top: 2vh;
        width: 1440px;
    }

    .logo{
        box-sizing: border-box;
        margin-right: 44vw;
        margin-left: 44vw;
        width: 12vw;
    }

    .main-nav{
        left: 3%;
        width: 1440px;
    }

    .main-nav ul {
        display: inline;
    }

    .main-nav ul li {
        margin-left: 20px;
    }

    .main-nav ul li a {
        padding-left: 4.25%;
        padding-right: 4.3%;
    }

    .banner {
        left: 4.5%;
        width: 92%;
        height: 48vh;
    }

    .vip-products {
        position: relative;
        left: 3%;
    }

    .product {
        width: 31%;
        left: 1%;
    }

    .special {
        left: 325px;
        bottom: 160px;
    }

    .zoom-container {
        bottom: 87px;
    }

    .more{
        top: 10px;
        left: 19px;
    }

    .main-footer{
        width: 92vw;
        left: 4.5%;
        height: 21vh;
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        background-color: #B92519;
    }

    .main-footer ul {
        position: absolute;
        top: 27%;
        left: 29%;
    }

    .main-footer ul li{
    display: inline;
    }

    .main-footer ul li:nth-child(1) {
        padding-right: 1vw;
        border-right: 2px solid white;
    }
    .main-footer ul li:nth-child(2){
        padding-right: 1vw;
        padding-left: 1vw;
        border-right: 2px solid white;
    }

    .main-footer ul li:nth-child(3){
        padding-right: 1vw;
        padding-left: 1vw;
        border-right: 2px solid white;
    }
    .main-footer ul li:nth-child(4){
        padding-right: 1vw;
        padding-left: 1vw;
        border-right: 2px solid white;
    }
    .main-footer ul li:nth-child(5){
        padding-right: 1vw;
        padding-left: 1vw;
        border-right: 2px solid white;
    }

    .main-footer ul li:nth-child(6){
        padding-left: 1vw;
    }
}
    



